{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<br>
<div style="background-color: #666666;color: #ffffff;font-size: 16px;">
<h2>Contact</h2>
    <p>
        <br>Please like us on <u><a href="https://www.facebook.com/discoverbourbon/" style="color:#ffffff">facebook</a></u>
        and follow us on <u><a href="https://twitter.com/discoverbourbon" style="color:#ffffff">twitter</a></u>.
        <br><br> If there is a bourbon that is not on my list, please feel free to email is at
        <u><a href="mailto:discoverbourbon@gmail.com" style="color:#ffffff">discoverbourbon@gmail.com</a></u>.
    </p>
        <ul><li>Please note that we are updating the bourbon list. Please be patient.</li></ul>
</div>
{% endblock %}
