{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<br>
<div style="background-color: #666666;color: #ffffff;font-size: 16px; height: 550px; overflow:auto;">
    <h2>A Brief History</h2>
    <p><br>Bourbon reaches as far back as the mid 13th century, and boasts descendants as famed as Louis XIV and Louis XVI.
        However, it’s important to note how unlikely it is that bourbon whiskey was named directly after French royalty.
        It’s more likely the booze was named for Bourbon County, Kentucky, where much of the sweet elixir was
        (and still is) distilled in the 19th century.
        <br><br>
        Bourbon was born out of both necessity and ingenuity. Scots, Irish, and other Europeans who settled and farmed
        the American South during the late 1700s and early 1800s brought knowledge of distilling with them from the
        old countries. Corn was a robust, reliable, and sugar-rich crop abundant in the New World. So, what did many
        of these bright-eyed, thirsty folks do? They started making whiskey using old world techniques and new world mash.
        <br><br>
        Throughout the 19th century, bourbon grew and grew in popularity, being cheaper than imported liquors,
        relatively easy to distill thanks to the abundance of corn.
        <br><br>
        From 1920 to 1933, Prohibition ruined many bourbon distilleries. Some of the majors came back online once the
        18th Amendment was repealed, but it would not be until the late 20th century that bourbon saw a true resurgence,
        with craft distilleries and new small-batch runs from the majors popping up.
        <br><br>
        Today, bourbon is by far the most widely-exported American spirit (factoring in Tennessee whiskeys as well),
        and total bourbon sales are near $3.7 billion dollars a year, with $2.7 billion of that figure coming from domestic sales.
    </p>
    <br><u><h3>Bourbon Requirements</h3></u>
    <br><p>By federal law, bourbon must meet these requirements.</p>
    <ul>
        <br><li>Bourbon must be made of a grain mixture that is at least 51% corn. </li>
        <li>Bourbon must be distilled to no more than 160 (U.S.) proof (80% alcohol by volume).</li>
        <li>Bourbon must be aged in new, charred oak barrels. </li>
        <li>Bourbon may not be introduced to the barrel at higher than 125 proof (62.5% alcohol by volume). </li>
        <li>Bourbon which meets the above requirements and has been aged for a minimum of two years, may
            (but is not required to) be called Straight Bourbon. </li>
        <li>Bourbon aged for a period less than four years must be labeled with the duration of its aging. </li>
        <li>If an age is stated on the label, it must be the age of the youngest whiskey in the bottle. </li>
        <li>Only whiskey produced in the United States can be called bourbon. </li>
    </ul>
    <br><p><i><u>Note:</u></i> Many people will say that bourbon isn't really bourbon unless it is made in Kentucky.
    Those are personal beliefs of those individuals and do not represent any specific rules or regulations.</p>
</div>
{% endblock %}